.benefits {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    padding: 10%;
}

.benefits-text {
    width: 45%;
    text-align: center;
    font-size: 170%;
}

.highlight {
    color: #0033A0;
}

.margin-top {
    margin-top: 20%;
}

.benefits-images {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1200px;
    height: 223px;
    gap: 5%;
    padding: 10%;
}

.image-hover-container {
    perspective: 1000px;
    width: 100%; 
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Tarjeta que gira */
.flip-card {
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s ease-in-out;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.flip-card:hover {
    transform: rotateY(180deg);
}

/* Caras de la tarjeta */
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column; /* Alinea imagen y texto verticalmente */
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5%;
    overflow: hidden;
    padding: 5%;
    gap: 5px; /* Espaciado entre elementos */
}

.flip-card-front {
    background: radial-gradient(circle, #005dab 0%, #0048a5 48%, #0033a0 100%);
    transform: rotateY(0deg);
}

.flip-card-front img {
    width: 50%; /* Hace que la imagen no ocupe todo el contenedor */
    max-height: 50%; /* Evita que sea demasiado grande */
    object-fit: contain;
    border-radius: 5%;
}

.flip-card-front h2,
.flip-card-front p,
.flip-card-back h2,
.flip-card-back p {
    font-size: 1.1em; /* Ajuste para hacerlos proporcionales */
    margin: 0;
    margin-top: 10px;
    color: white;
}

.flip-card-back {
    background: radial-gradient(circle, #005dab 0%, #0048a5 48%, #0033a0 100%);
    color: white;
    transform: rotateY(180deg);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.flip-card:hover .flip-card-back {
    opacity: 1;
}

/* Media query para pantallas pequeñas */
/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
    .benefits-images {
        flex-direction: column; 
        width: 100%; 
        height: auto; 
        gap: 70px; 
    }

    .image-hover-container {
        width: 100%; 
        height: auto; 
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .flip-card {
        width: 100%; 
        max-width: 250px; /* Aumenta el ancho  */
        height: 125px; /* Ajusta el alto */
    }

    .flip-card-front img {
        width: 60%; /* Reduce el tamaño de la imagen */
        max-height: 60%; /* Evita que sea muy grande */
    }
}



