.container {
  margin-top: 20px;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
}
.navbar {
  width: 85%;
  height: 82px;
  display: flex;
  justify-content:space-between;
  align-items: center;
  background-color: #ffffffec;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 0 20px;
}

.navbar-left{
  margin-left: 60px;
}
.navbar-right{
  margin-right: 60px;
}
.navbar-link {
color: #0033A0;
text-decoration: none;
font-size: 16px;
margin: 0 5px;
transition: color 0.3s;
font-weight: bold;
}

.navbar-link:hover {
color: #0056b3;
}

.navbar-icon {
height: 25px;
margin-left: 5px;
margin-top: 5px;

}

.navbar-logo {
height: 40px;
}

@media (max-width: 768px) {
.navbar {
  height: auto;
  padding: 10px;
  flex-direction: column;
}

.navbar-left, .navbar-right {
  margin: 10px 0;
}

.navbar-logo {
  margin: 10px 0;
}
}