#plans-section {
  width: 100%;
  height: auto;
  background: radial-gradient(circle, #0033A0 60%, #062265 100%);
  padding: 2% 0;
  text-align: center;
  color: white;
}

#plans-title {
  font-size: 3vw;
  margin-bottom: 1%;
}

#plans-subtitle {
  font-size: 1.5vw;
  margin-bottom: 3%;
}

#plans-cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Permite que las tarjetas se envuelvan en varias filas */
  gap: 1%;
  margin-bottom: 3%;
}

#plans-footer {
  font-size: 1.2vw;
}

#plans-footer a {
  color: white;
  text-decoration: none;
}

#plans-footer a:hover {
  text-decoration: underline;
}

/* Media queries para hacer la sección responsive */
@media (max-width: 768px) {
  #plans-title {
    font-size: 5vw;
  }

  #plans-subtitle {
    font-size: 3vw;
  }

  #plans-footer {
    font-size: 2vw;
  }
}

@media (max-width: 480px) {
  #plans-title {
    font-size: 6vw;
  }

  #plans-subtitle {
    font-size: 4vw;
  }

  #plans-footer {
    font-size: 3vw;
  }
}