.whatsapp-button {
  position: fixed;
  bottom: 40px;     /* Posición desde abajo */
  right: 20px;      
  z-index: 9999;    /* Aumentado para asegurar que esté sobre otros elementos */
  cursor: pointer;
  transition: transform 0.3s ease;
  display: block;   
}

.whatsapp-button:hover {
  transform: scale(1.1);
}

.whatsapp-button img {
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 60px;      
  height: 60px;     
}